 


.navbar i{
    color:#503217;
  }
  .navbar-nav {
  gap: 30px;
  color:#503217;  
}
/*****   hero section start   ** *******/
.hero{
  background-color: #E8E6DE;
   
  overflow: hidden;
  position: relative;
  gap: 35px;
   
}
.hero-text {
  max-width: 40%;
margin-left: 100px;
 font-family: Poppins ;
}
.hero-text h1 {
  font-size: 4rem;
  font-weight: 600;
  color: #5a3a20;
    
  
}

.hero-text p {
  color: #8F7D6A;
   
  margin-top: 20px;
}
.btn-brown {
  background-color: #503217;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  transition: 0.3s;
  margin-top: 60px;
}
.btn-brown:hover {
  background-color: #7a5634;
}.hero-img{
  margin-right: 50px;
}
  .hero-img  img {
  width: 650px;
  max-width: 100%;
}
@media (max-width: 1128px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  .hero-text {
    padding-left: 0;  
    max-width: 100%;
    text-align: left;
    margin-left: 0px;
  }

  .hero-text h1 {
    font-size: 2.2rem;
  }

  .hero-img img {
    margin-top: 30px;
    width: 300px;
  
  }
}
@media (max-width: 320px) {
  

  .hero-text {
    padding-left: 0;  
    max-width: 100%;
    margin-left: 0px;
    text-align: left;
  }

  .hero-text h1 {
    font-size: 1.8rem;
     
  }
 
   
}
/*end hero*/
/* start by cateagories*/
.text-brown {
  color: #5a3a20;
}
.card{
  background-color: #EBE9E0 ;
}
.categories{
  background-color:#EBE9E0  ;
}
.item-color{
  color:#8F7D6A;
}
@media (max-width: 520px) {
  .col-custom {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* end by cateagories*/
/*<shop by categories>*/
.shop{
  background-color: #EBE9E0 ;
  padding-top:80px;
  padding-bottom: 100px;
}
.shop .card img{
width:100%;
height:auto;
border-radius: 15px;
display: block;
}
/*end shop by categories>*/
/*start latest products*/
.latest-products h2{
  color: #503217;
  font-size: 48px;
  font-family:Poppins  ;
}
.latest-products{
  background-color: #EBE9E0 ;
}
.product-card h5{
  font-size: 24px;
  font-family: Poppins;
  color: #503217;
  padding-top: 15px;
  margin-bottom: 5px;
  
}
.product-card p{
  color: #8F7D6A;
  font-size: 18px;
}
  
.features{
  
  background-color: #761a1a;
  width: 1300px;
  height: 140px;
}
 .icon-wrapper {
  position: relative;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

 
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #503217;
}
  



 /*start signup*/
.signup  {
  padding-top: 130px;
   background-color: #E8E6DE ;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 130px;
}
 .newsletter-image img {
  width: 635px;
  height: 562px;
  object-fit: cover;
  border-radius: 10px;
}
.newsletter-content {
  background-color: #F2F2F2 ;
  width: 635px;
  height: 562px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 60px;
}
.newsletter-content p {
  font-size: 24px;
  margin-bottom: 20px;
  color: #6C543E;
}

.newsletter-content h3 {
  font-size: 48px;
  font-weight: 600;
  color: #503217;
  margin-bottom: 168px;
}
.input-group{
  background-color: #EBE9E0 ;
  border-radius: 10px  ;
  width: 358px;
}
 .input-group-text {
  border: 1px solid #503217 ;
  color: #8F7D6A;
  }
 .form-control {
  background-color: #EBE9E0 ;
  border: 1px solid #503217 ;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
}
.form-control::placeholder {
  color: #8F7D6A;
}
.signup-btn {
  background-color: #503217;
  color: #F2F2F2;
  border-radius:  10px;
  padding: 12px 20px;
  border: none;
  font-weight: 500;
  width: 149px;
}
 @media (max-width: 1380px) {
  .newsletter-section {
    flex-direction: column;
    gap: 25px;
  }

  .newsletter-image img,
  .newsletter-content {
    width: 100%;
    height: auto;
     justify-content: center;
  }

   
}
@media (max-width: 780px) {
  .newsletter-content {
    padding: 40px 25px;
  }

  .newsletter-content h5 {
    font-size: 16px;
  }

  .newsletter-content h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }

   
  .email-form .input-group {
    flex-direction: row;
  }

  .signup-btn {
   
    border-radius: 8px;
    margin-top: 10px;
  }

  .email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
 @media (max-width: 500px) {
  .newsletter-content {
    width: 95%;
    padding: 35px 20px;
  }

  .newsletter-content h2 {
    font-size: 22px;
  }

   
  .email-form {
    width: 100%;
    max-width: 100%;
  }

  .input-group {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
  .form-control {
    
    width: 100%;
    text-align: center;
  }

  .signup-btn {
     
    margin-top: 12px;
     
    padding: 12px;
  }
}

@media (max-width: 360px) {
  .newsletter-content h5 {
    font-size: 13px;
  }

  .newsletter-content h2 {
    font-size: 16px;
  }

  .newsletter-content {
    padding: 25px 15px;
  }

  .email-form {
    max-width: 100%;
  }

  
}

 
 